.inf-content {
  border: 1px solid #dddddd;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
  margin-top: 40px;
}

h2 {
  margin-top: 1.25em;
  margin-left: 2em;
}

img {
  margin-left: 2.5em;
  margin-top: 1em;
}

.info-table {
  margin-left: 4em;
  margin-top: 1em;
}

.btn-link {
  text-decoration: none;
  font-size: 1em;
}

.edit {
  margin-left: 3.5em;
  font-size: 18px;
  margin-top: 1em;
}
