.header {
  max-width: 60rem;
  margin: auto;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.list {
  display: flex;
  gap: 6rem;
  list-style-type: none;
  margin-top: 1em;
  margin-right: 10.5em;
}

.text {
  text-decoration: none;
  color: #0073b7;
  font-weight: 700;
  font-size: 22px;
}

.text:hover,
.text:active,
.logout:hover {
  color: var(--color-primary-800);
  text-decoration: underline;
}

.logout {
  all: unset;
  position: absolute;
  top: 50%;
  right: 4rem;
  transform: translateY(-50%);
  color: #0073b7;
  font-weight: 700;
  font-size: 22px;
}
