.header {
  max-width: 60rem;
  margin: auto;
  padding: 2rem;
  display: flex;
  justify-content: center;
  margin-left: 300px;
  margin-top: 20px;
}

.list {
  display: flex;
  gap: 4rem;
  list-style-type: none;
}

.text {
  text-decoration: none;
  color: #0073b7;
  font-weight: 700;
  font-size: 22px;
}

.text:hover,
.text:active,
.logout:hover {
  color: var(--color-primary-800);
  text-decoration: underline;
}

.logout {
  all: unset;
  margin-right: -47rem;
  position: fixed;
  color: #0073b7;
  font-weight: 700;
  font-size: 22px;
}
